@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Alejo.Data.Entities

@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
     ViewData["Title"] = "Log in";
}


<div id="innerBanner">
     <div class="container">
          <h2>Login</h2>
     </div>
</div>

<div id="innerCon">
     <div class="container">
          <div class="row">
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                    <div>
                         <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                              <h2>Login with Local Account</h2>

                              <div asp-validation-summary="All" class="text-danger text-center"></div>

                              <div class="form-group">
                                   <label for="emailTb">
                                        Email Address <span class="glyphicon glyphicon-question-sign">
                                        </span>
                                   </label>
                                   <input asp-for="Email" class="form-control" id="emailTb" placeholder="Email Address e.g. username@domain.com" type="text" />
                              </div>

                              <div class="form-group">
                                   <label for="passwordTb">
                                        Password <span class="glyphicon glyphicon-question-sign">
                                        </span>
                                   </label>
                                   <input asp-for="Password" class="form-control" id="passwordTb" placeholder="*********" type="password" />
                              </div>

                              <div class="form-group">
                                   <button type="submit" class="btn btn-unique">Log in</button>
                              </div>
                              <p class="text-center">
                                   <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Don't Have Account? Register Now</a> <br />
                                   <a asp-action="ForgotPassword">Forgot your password?</a>
                              </p>
                         </form>
                         @*@{
                         var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                         if (loginProviders.Count == 0)
                         {
                              <div>
                                   <p class="text-center">
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                   </p>
                              </div>
                         }
                         else
                         {
                              <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                   <div>
                                        <p>
                                             @foreach (var provider in loginProviders)
                                             {
                                                  <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><span class="fa fa-@provider.Name.ToLower()"></span> @provider.Name</button>
                                             }
                                        </p>
                                   </div>
                              </form>
                         }
                    }*@
                    </div>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

               </div>
          </div>
     </div>
</div>


@section Styles{
     <link href="~/Content/styles/innerStyles.css" rel="stylesheet" />
}